:root {
    --headingclr: #05264E;
    --textclr: #4F5E64;
    --btnclr: #3C65F5;
    --themefont: "Plus Jakarta Sans", sans-serif;
    --primary: #155bd5;
    --white: #ffffff;
    --light-2: #f5f5f5;
    --black: #000;
    --dark-3: #6d6d6d;
    --gray-4: #e0e0e0;
}

.prifile-cover {
    background-image: url('../images/model-cover.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    border-radius: 6px;
}

.candidate-img img {
    width: 120px;
    height: 120px;
    position: absolute;
    left: 4%;
    transform: translateX(-10%);
    bottom: -30px;
    border-radius: 6px;
    object-fit: cover;
}

.candidate-text h3 {
    font-size: 1.25rem;
    columns: var(--textclr);
    font-weight: 700;
    margin-bottom: 3px;
}

.candidate-text .tag-what {
    font-size: .75rem;
    color: var(--textclr);
    font-weight: 500;
}

.candidate-text .verified {
    background-color: green;
    color: var(--white);
    padding: 3px 15px;
    border-radius: 6px;
    font-size: .65rem;
    font-weight: 400;
}

.candidate-text .verified i {
    margin-right: 4px;
}

.candidate-text .work {
    background: #eef3ff;
    padding: 5px 10px 6px;
    border-radius: 6px;
    font-size: .75rem;
    color: var(--textclr);
    display: inline;
}


/* candidate about tabs start */
.candidate-about-box {
    border-top: 1px solid #E0E6F7;
    padding-top: 3rem;
}

/* tabs-two */
/* .tabs-two {
    border: 1px solid var(--gray-4);
} */

@media (max-width: 767px) {
    .tabs-two .nav {
        display: flex;
    }

    .tabs-two .nav .nav-item a {
        font-size: 11px !important;
        padding: 10px 5px !important;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .tabs-two .nav {
        display: flex;
    }
}

.tabs-two .nav .nav-item a {
    font-size: 16px;
    line-height: 24px;
    color: var(--dark-3);
    font-weight: 700;
    padding: 13px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    display: block;
    border: 1px solid #EFF2FB;
    position: relative;
    border-radius: 6px;
}

.tabs-two .nav .nav-item a.active {
    color: var(--primary);
    background: #eef3ff;
    /* border: 1px solid var(--gray-4); */
    border-bottom: 0;
    border-top: 0;
}

@media (max-width: 767px) {
    .tabs-two .nav .nav-item a.active {
        border: 1px solid var(--gray-4);
        border-top: 0;
        border-left: 0;
        border-right: 0;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .tabs-two .nav .nav-item a.active {
        border: 1px solid var(--gray-4);
        border-bottom: 0;
        border-top: 0;
    }
}

.tabs-two .nav .nav-item a.active::before {
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    height: 4px;
    left: 0;
    background: var(--primary);
}

.tabs-two .nav .nav-item:first-child a.active {
    border-left: 0;
}

.tabs-two .nav .nav-item:last-child a.active {
    border-right: 0;
}

.tabs-two .tab-content .tab-text {
    padding: 15px 0px;
    margin-top: 15px;
}

.tabs-two .tab-content .tab-text .text {
    color: var(--textclr);
    font-size: .875rem;
}

.candidate-overview-box {
    border: 1px solid var(--gray-4);
    padding: 1rem;
    border-radius: 6px;
}

.candidate-overview-box .candidate-overview-list {
    margin-top: 1rem;
}

.candidate-overview-box .candidate-overview-list p {
    font-size: .875rem;
    font-weight: 400;
    color: var(--textclr);
    margin-bottom: 2px;
}

.candidate-overview-box .candidate-overview-list {
    margin-bottom: 1rem;
}

.candidate-overview-box .candidate-overview-list p:last-of-type {
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.candidate-overview-box h3 {
    border-bottom: 1px solid #EFF2FB;
    padding-bottom: 1rem;
}

.candidate-overview-box .candidate-info {
    border-top: 1px solid #EFF2FB;
    padding-top: 1rem;
}

.candidate-overview-box .candidate-info ul li {
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 1rem;
    color: var(--textclr);
}

.word-history h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--textclr);
    border-top: 1px solid #EFF2FB;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* candidate about tabs end */

@media (max-width:767px) {
    .prifile-cover {
        background-image: url('../images/model-cover.jpg');
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        border-radius: 6px;
        width: 100%;
    }

    .candidate-img img {
        width: 80px;
        height: 80px;
        position: absolute;
        left: 4%;
        transform: translateX(-10%);
        bottom: -20px;
        border-radius: 6px;
    }
}

.adv-vertical img {
    width: 120px;
}