:root {
    --headingclr: #05264E;
    --textclr: #4F5E64;
    --btnclr: #3C65F5;
    --themefont: "Plus Jakarta Sans", sans-serif;
    --primary: #155bd5;
    --white: #ffffff;
    --light-2: #f5f5f5;
    --black: #000;
    --dark-3: #6d6d6d;
    --gray-4: #e0e0e0;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 10px 15px;
    border-radius: 6px;
    /* box-shadow: 0 5px 18px rgba(0, 0, 0, 0.08); */
    gap: 18px;
    width: 100%;
    /* min-width: 800px; */
    margin: auto;
    border: 1px solid #E0E6F7;
}

/* Icons + Inputs */
.field {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.field i {
    color: #7f8c8d;
    font-size: 15px;
}

/* Divider */
.divider {
    width: 2px;
    height: 28px;
    background: #e1e6f0;
}

/* Keyword Input */
.keyword-field input {
    border: none;
    outline: none;
    font-size: 15px;
}

/* Custom Select Wrapper */
.custom-select {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.select-input {
    border: none;
    outline: none;
    font-size: 15px;
    cursor: pointer;
    background: transparent;
}

.arrow {
    font-size: 12px;
    margin-left: 4px;
    color: #555;
}

/* Dropdown */
.select-dropdown {
    position: absolute;
    top: 40px;
    left: -33px;
    width: 220px;
    background: white;
    border-radius: 6px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
    padding: 10px;
    display: none;
    z-index: 50;
}

.select-dropdown input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
    margin-bottom: 8px;
    border-radius: 6px;
}

.options span {
    display: block;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

.options span:hover {
    background: #f1f4ff;
}

/* Search Button */
.search-btn {
    background: var(--primary);
    border: none;
    padding: 8px 22px;
    color: #fff;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
}

.search-btn:hover {
    background-color: #05264E;
    transform: translateY(-2px);
    transition: 0.2s;
}

.search-btn i {
    font-size: 16px;
}

/* DROPDOWN */
.list_cards .custom-dropdown {
    position: relative;
}

.list_cards .dropdown-btn {
    background: #fff;
    border: 1px solid #dbe1f2;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    text-align: start;
    font-size: .875rem;
}

.pagination .page-item .page-link {
    padding: 8px 14px;
    margin: 0 3px;
    border-radius: 6px;
    border: 1px solid #ddd;
    color: #333;
    font-weight: 500;
    background-color: #fff;
}

.pagination .page-item.active .page-link {
    background-color: var(--primary);
    border-color: var(--primary);
    color: #fff;
}

.pagination .page-item .page-link:hover {
    background-color: #f1f1f1;
}

.pagination .page-item.disabled .page-link {
    opacity: 0.5;
    cursor: not-allowed;
}

.pagination .page-link i {
    font-size: 13px;
}

.price-input {
    position: relative;
}

.price-input i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #0d6efd;
}

.price-input input {
    width: 100%;
    padding: 10px 15px 10px 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
}

.price-input input:focus {
    border-color: #0d6efd;
}

.list_cards .dropdown-box {
    display: none;
    background: #fff;
    border: 1px solid #dbe1f2;
    border-radius: 12px;
    padding: 12px;
    margin-top: 6px;
    position: absolute;
    width: 100%;
    z-index: 10;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.09);
}

.list_cards .dropdown-box ul li {
    padding: 8px 6px;
    border-radius: 6px;
    cursor: pointer;
    font-size: .875rem;
}

.list_cards .dropdown-box ul li:hover {
    background: #eef3ff;
}

/* INDUSTRY */
.list_cards .industry-box .ind-item {
    display: flex;
    justify-content: space-between;
    /* background: #fff;
    border: 1px solid #dbe1f2; */
    border-radius: 10px;
    padding: 10px 0px;
    margin-bottom: 0px;
}

.list_cards .industry-box {
    border-bottom: 1px solid #E0E6F7;
    padding-bottom: 15px;
    padding-top: 15px;
}

label.form-check-label {
    font-size: .875rem;
    color: var(--textclr);
}

.list_cards .ind-item b {
    background: #E0E6F7;
    padding: 4px 10px;
    font-size: .75rem;
    border-radius: 8px;
    font-weight: 400;
    color: var(--primary);
}

.list_cards h4 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 26px;
    color: #05264E;
}

.link-reset {
    float: right;
    font-size: 14px;
    line-height: 22px;
    color: #66789C;
    font-weight: 500;
}

/* JOB CARD */
.job_card {
    border-radius: 6px;
    border: 1px solid #E0E6F7;
    overflow: hidden;
    margin-bottom: 24px;
    position: relative;
    background: #F8FAFF;
    padding: 1.5rem 1rem;
    height: 100%;
}

.job_card:hover {
    transform: translateY(-2px);
    transition: 0.2s;
    background-color: var(--white);
}

.job-logo {
    width: 70px;
    height: 70px;
}

.job-title {
    font-size: 1.125rem;
}

.dot {
    width: 6px;
    height: 6px;
    background: #9da8b9;
    display: inline-block;
    border-radius: 50%;
    margin: 0 6px;
}

.salary p {
    font-size: .875rem;
    font-weight: 600;
    margin-bottom: 0px;
}

.tag-what {
    color: var(--dark-3);
    font-size: .75rem;
}

.salary span {
    color: #004bcc;
    font-size: .875rem;
    font-weight: 600;
}

.job-tags span {
    background: #eef3ff;
    padding: 5px 6px;
    border-radius: 6px;
    font-size: .75rem;
    height: 30px;
    color: var(--textclr);
}

.job-desc {
    font-size: .875rem;
    color: var(--textclr);
}

.apply-btn {
    background-color: #E0E6F7;
    color: #3C65F5;
    padding: 10px 10px;
    min-width: 95px;
    border-radius: 4px;
    font-size: 12px;
    text-transform: capitalize;
}

.apply-btn:hover {
    background: var(--btnclr);
    color: var(--white);
    transform: translateY(-2px);
    transition: 0.2s;
}

/* MOBILE */
@media(max-width: 768px) {
    .job_card {
        padding: 20px;
    }

    .apply-btn {
        margin-top: 10px;
        width: 100%;
    }
}

.show_result {
    border-bottom: 1px solid #E0E6F7;
}

.dd-box {
    position: relative;
}

.dd-btn {
    width: 100%;
    background: #fff;
    border: 1px solid #ddd;
    padding: 6px 14px;
    border-radius: 6px;
    cursor: pointer;
    text-align: left;
    font-size: .875rem;
}

.dd-btn i {
    font-size: 14px;
}

.dd-menu {
    position: absolute;
    top: 105%;
    width: 100%;
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 6px;
    display: none;
    z-index: 1000;
    font-size: .875rem;
}

.dd-list li {
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}

.dd-list li:hover {
    background: #f1f1f1;
}

/* Responsive */
@media(max-width: 768px) {
    .search-bar {
        flex-direction: column;
        align-items: stretch;
    }

    .divider {
        display: none;
    }

    .search-btn {
        width: 100%;
        justify-content: center;
    }
}

@media (min-width:767px) and (max-width:991px) {
    .list_main .list_banner-hero .list_banner-img .search-bar .field {
        max-width: 125px;
    }

    .list_main .list_banner-hero .list_banner-img .search-bar .select-input {
        border: none;
        outline: none;
        font-size: 15px;
        cursor: pointer;
        background: transparent;
        max-width: 95px;
    }
}

@media(min-width: 767px) {
    .herosection .search-bar .field {
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;
        max-width: 150px;
    }

    .herosection .search-bar .select-input {
        border: none;
        outline: none;
        font-size: 15px;
        cursor: pointer;
        background: transparent;
        max-width: 100px;
    }

    .herosection .search-bar {
        min-width: 730px;
    }
}